{% extends data["Template"] %} {% block contenido %}
<div id="contenido">
  <div class="content">
    <h2>Nuevo Responsable</h2>

    <form name="alumno" method="post" action="/api/responsables/nuevo">
      <fieldset class="f-user">
        <legend>Responsable:</legend>

        <dl>
          <dt>
            <label for="apodo">Nombre (o apodo):</label>
          </dt>
          <dd>
            <input
              type="text"
              name="apodo"
              value=""
              maxlength="50"
              size="30"
              id="apodo"
            />
          </dd>

          <dt>
            <label for="fnac">Año de Nacimiento:</label
            ><span
              >(Opcional,
              <abbr title="Por ejemplo:">p.e.:</abbr> 2009-12-16)</span
            >
          </dt>
          <dd>
            <input
              type="text"
              name="fnac"
              maxlength="10"
              size="15"
              value=""
              id="fnac"
            />
          </dd>
          <dt><label for="tel">Categoria:</label></dt>
          <dd>
            <input
              type="text"
              name="tel"
              maxlength="50"
              size="25"
              value=""
              id="tel"
            />
          </dd>

          <dt>
            <label for="email">E-mail:</label>
            <span
              >(Opcional, Asegúrese que la cuenta de correo no esté llena, y que
              el correo no se trata como correo no deseado)</span
            >
          </dt>
          <dd>
            <input
              type="text"
              name="email"
              maxlength="50"
              size="30"
              value=""
              id="email"
            />
          </dd>
        </dl>
      </fieldset>

      <div class="acciones">
        <input
          type="submit"
          value="registrar responsable"
          style="
            border-radius: 15px;
            padding: 10px;
            background-color: lightgreen;
          "
        />
      </div>
    </form>

    <div class="clear"></div>
  </div>
</div>

{% endblock %}
