{% extends data["Template"] %} {% block contenido %}
<div id="contenido">
  <div class="content">
    <h2>Ver Responsables</h2>
    {% for resp in data["Responsables"]["Datos"] %}
      <details>
        <summary>{{resp['tel']}}: {{resp['apodo']}}</summary>
        <b>Email:</b> {{resp['email']}}<br>
        <b>F. Nacimiento:</b> {{resp['fnac']}}<br>

        <div class="acciones">
          <a href="/responsables/editar/{{resp['id']}}"
            style="
              border-radius: 15px;
              padding: 10px;
              background-color: lightskyblue;
            ">Editar</a>
          <a href="/api/responsables/borrar/{{resp['id']}}"
            style="
              border-radius: 15px;
              padding: 10px;
              background-color: lightcoral;
            ">Borrar</a>
        </div>
      </details>
    {% endfor %}

    <div class="clear"></div>
  </div>
</div>

{% endblock %}
