{% extends data["Template"] %} {% block contenido %}
<div id="contenido">
  <div class="content">
    <h2>Ver Responsables de Tareas</h2>
    {% for resp in data["Almuerzo"]["Datos"] %}
      <details>
        <summary>{{resp['fecha']}}</summary>
        <p>{% autoescape false %}{{resp['resp'] | replace(";", "<br>")}}{% endautoescape %}</p><br>
        <div class="acciones">
          <a href="/almuerzo/editar/{{resp['id']}}"
            style="
              border-radius: 15px;
              padding: 10px;
              background-color: lightskyblue;
            ">Editar</a>
          <a href="/api/almuerzo/borrar/{{resp['id']}}"
            style="
              border-radius: 15px;
              padding: 10px;
              background-color: lightcoral;
            ">Borrar</a>
        </div>
      </details>
    {% endfor %}

    <div class="clear"></div>
  </div>
</div>

{% endblock %}
