{% extends data["Template"] %}  {% block contenido %}
<div id="contenido">
  <div class="content">
    <h2>Editar Encargo</h2>

    <p class="aviso">Nota: Todos los campos son obligatorios</p>

    <form name="alumno" method="post" action="/api/encargos/editar/{{id}}">
      <fieldset class="f-user">
        <legend>Encargo:</legend>

        <dl>
          <dt>
            <label for="cliente">Nombre Clientx:</label>
          </dt>
          <dd>
            <input
              type="text"
              name="cliente"
              value="{{f['cliente']}}"
              maxlength="50"
              size="30"
              id="cliente"
            />
          </dd>

          <dt>
            <label for="fecha">Fecha:</label
            ><span>(<abbr title="Por ejemplo:">p.e.:</abbr> 2009-12-16)</span>
          </dt>
          <dd>
            <input
              type="text"
              name="fecha"
              maxlength="10"
              size="15"
              value="{{f['fecha']}}"
              id="fecha"
            />
          </dd>

          <dt>
            <label for="prod1">1º Producto</label
            ><span
              >(<abbr title="Por ejemplo:">p.e.:</abbr> Tortilla de
              patata)</span
            >
          </dt>
          <dd>
            <input
              type="text"
              name="prod1"
              maxlength="50"
              size="50"
              value="{{f['prod1']}}"
              id="prod1"
            />
          </dd>

          <dt><label for="prod2">2º Producto:</label></dt>
          <dd>
            <input
              type="text"
              name="prod2"
              maxlength="50"
              size="50"
              value="{{f['prod2']}}"
              id="prod2"
            />
          </dd>
          <dt><label for="prod3">3º Producto:</label></dt>
          <dd>
            <input
              type="text"
              name="prod3"
              maxlength="50"
              size="50"
              value="{{f['prod3']}}"
              id="prod3"
            />
          </dd>
          <dt><label for="prod4">4º Producto:</label></dt>
          <dd>
            <input
              type="text"
              name="prod4"
              maxlength="50"
              size="50"
              value="{{f['prod4']}}"
              id="prod4"
            />
          </dd>
          <dt><label for="total">Subtotal €:</label></dt>
          <dd>
            <input
              type="text"
              name="total"
              maxlength="50"
              size="50"
              value="{{f['total']}}"
              id="total"
            />
          </dd>
          <dt><label for="pagado">Pagado €:</label></dt>
          <dd>
            <input
              type="text"
              name="pagado"
              maxlength="50"
              size="50"
              value="{{f['pagado']}}"
              id="pagado"
            />
          </dd>

          <dt>
            <label for="email">E-mail:</label>
            <span
              >(Asegúrese que su cuenta de correo no esté llena, y que el correo
              no se trata como correo no deseado)</span
            >
          </dt>
          <dd>
            <input
              type="text"
              name="email"
              maxlength="50"
              size="50"
              value="{{f['email']}}"
              id="email"
            />
          </dd>
        </dl>
      </fieldset>

      <div class="acciones">
        <input
          type="submit"
          value="registrar datos"
          style="
            border-radius: 15px;
            padding: 10px;
            background-color: lightgreen;
          "
        />
      </div>
    </form>

    <div class="clear"></div>
  </div>
</div>

{% endblock %}
