{% extends data["Template"] %}  {% block contenido %}
<div id="contenido">
  <div class="content">
    <h2>Encargos para hoy</h2>
    {% if data["Encargos"]["Encendido"] %}
    
        {% for e in data["Encargos"]["Hoy"] %}
        <h3>Encargo de {{e["cliente"]}} para el {{e["fecha"]}}</h3>
          <b>Email:</b> {{e["email"]}}<br />
          <b>Estado:</b> {{e["hecho"]}}<br />
          <b>Productos:</b>
          <ul>
            <li>- {{e["prod1"]}}</li>
            <li>- {{e["prod2"]}}</li>
            <li>- {{e["prod3"]}}</li>
            <li>- {{e["prod4"]}}</li>
          </ul>
          <b>Total:</b> {{e["total"]}} €<br />
          <b>Pagado:</b> {{e["pagado"]}} €<br />
          <b>Opciones:</b>
          <ul>
            <li>- <a href='/encargos/editar/{{e["id"]}}'>Editar</a><br /></li>
            <li>- <a
              href='/api/encargos/borrar/{{e["id"]}}'
              >Borrar</a
            ></li>
          </ul>
          <hr />
        {% endfor %}
    {% endif %}
  </div>
</div>
{% endblock %}
