{% extends data["Template"] %} {% block contenido %}
<div id="contenido">
  <div class="content">
    <h2>Inicio: {{data["Clase"]["Nombre"]}}, {{data["Escuela"]["Nombre"]}}</h2>
    <h3>¡Bienvenidx al panel de control de AxelAula!</h3>
    <br />
    <b>Para acceder a otras paginas:</b> Usar el menu lateral izquierdo.
    <br />
    <b>Para incrustar una pagina:</b>
    <br />
    Añadir "?embed=1" (sin las comillas) al final de la url de la pagina, y
    añadirla a Google Sites con el boton Incrustar (o si es otra plataforma, a
    traves de un iframe)
    <br />
    <b>Para editar los datos:</b>
    <br />
    Accede a Rei3 desde <a href="https://ba.tech.eus">ba.tech.eus</a>
    <br />
  </div>
</div>
{% endblock %}
