{% extends 'v2.html' %} {% block contenido %}
<div id="contenido">
  <div class="content">
        <h2>Menu Automatico de {{comedor}}</h2>
        <a href="/">Volver a inicio</a>
        {% for menu in menus %}
                <h3>{{menu}}</h3>
                <b>Primer Plato: </b>{{hoy[menu]["Plato1"]}}<br>
                <b>Segundo Plato: </b>{{hoy[menu]["Plato2"]}}<br>
                <b>Postre: </b>{{hoy[menu]["Postre"]}}<br>
                {{hoy[menu]["Pan"]}}
                
        {% endfor %}
        
</div>
</div>
    
    
{% endblock %}