{% extends data["Template"] %} {% block contenido %}
<div id="contenido">
  <div class="content">
        <h2>Menu Automatico de {{data["Comedor"]["Nombre"]}}</h2>
        <a href="/">Volver a inicio</a>
        {% for menu in data["Comedor"]["Menus"] %}
                <h3>{{menu}}</h3>
                <b>Fecha: </b>{{data["Comedor"]["Hoy"][menu]["Fecha"]}}<br>
                <b>Primer Plato: </b>{{data["Comedor"]["Hoy"][menu]["Plato1"]}}<br>
                <b>Segundo Plato: </b>{{data["Comedor"]["Hoy"][menu]["Plato2"]}}<br>
                <b>Postre: </b>{{data["Comedor"]["Hoy"][menu]["Postre"]}}<br>
                {{data["Comedor"]["Hoy"][menu]["Pan"]}}
                
        {% endfor %}
        
</div>
</div>
    
    
{% endblock %}