{% extends data["Template"] %} {% block contenido %}
<div id="contenido">
  <div class="content">
    <h2>Hola, soy AxelAula, la Inteligencia Artificial del aula, este es el resumen de hoy:</h2>
    <audio controls>
      <source src="/resumen-voz.mp3" type="audio/mpeg">
      No se puede mostrar el audio.
    </audio><br>
    <h3>Hoy hacen {{ data["Weather"]["Temperatura"] }}°C de temperatura, {{ data["Weather"]["Humedad"] }}% de humedad y {{ data["Weather"]["Viento"] }} Km/h de viento.</h3>
    <h3>Hoy tenemos de comida: </h3>
    {% if data["Comedor"]["Encendido"] %}
    {% if data["Comedor"]["Hoy"] != None %}
    {% for menu in data["Comedor"]["Menus"] %}
    <h4>Menu {{menu}}</h4>
    {% if data["Comedor"]["Hoy"][menu] == None %}
    <b>No disponible.</b>
    {% else %}
    <b>Primer Plato: </b>
    {% if "*" in data["Comedor"]["Hoy"][menu]["Plato1"] %}
    <u>
    {{data["Comedor"]["Hoy"][menu]["Plato1"]}}</u>
    {% else %}
    {{data["Comedor"]["Hoy"][menu]["Plato1"]}}
    {% endif %}
    <br>
    <b>Segundo Plato: </b>{% if "*" in data["Comedor"]["Hoy"][menu]["Plato2"] %}
    <u>
      {{data["Comedor"]["Hoy"][menuComedor"2"]}}</u>
    {% else %}
    {{data["Comedor"]["Hoy"][menu]["Plato2"]}}
    {% endif %}<br>
    <b>Postre: </b>{% if "*" in data["Comedor"]["Hoy"][menu]["Postre"] %}
    <u>
      {{data["Comedor"]["Hoy"][menu]["Postre"]}}</u>
    {% else %}
    {{data["Comedor"]["Hoy"][menu]["Postre"]}}
    {% endif %}<br>
    {% if "*" in data["Comedor"]["Hoy"][menu]["Pan"] %}
    <u>
      {{data["Comedor"]["Hoy"][menu]["Pan"]}}</u>
    {% else %}
    {{data["Comedor"]["Hoy"][menu]["Pan"]}}
    {% endif %}
    {% endif %}
    {% endfor %}
    {% else %}
    No Disponible
    {% endif %}
    {% endif %}
    {% if data["Encargos"]["Encendido"] %}
    
        {% for e in data["Encargos"]["Hoy"] %}
        <h3>Encargo de {{e["cliente"]}} para el {{e["fecha"]}}</h3>
          <b>Email:</b> {{e["email"]}}<br />
          <b>Estado:</b> {{e["hecho"]}}<br />
          <b>Productos:</b>
          <ul>
            <li>- {{e["prod1"]}}</li>
            <li>- {{e["prod2"]}}</li>
            <li>- {{e["prod3"]}}</li>
            <li>- {{e["prod4"]}}</li>
          </ul>
          <b>Total:</b> {{e["total"]}} €<br />
          <b>Pagado:</b> {{e["pagado"]}} €<br />
          <hr />
        {% endfor %}
    {% endif %}
    {% if data["Almuerzo"]["Encendido"] %}
      
      {% for e in data["Almuerzo"]["Hoy"] %}
      <h3>Estos son los responsables de tareas para hoy: </h3>
        {% autoescape false %}{{e['resp'] | replace(";", "<br>")}}{% endautoescape %}
      {% endfor %}
    {% endif %}
    <h3><i>¡Espero que tengais un dia geniel!</i></h3>
  </div>
</div>


{% endblock %}