<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sistema AxelAula </title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <div id="pagina">
      <div id="cabecera">
        <h1><img src="/static/logo.png" alt="Sistema AxelAula" /></h1>

        <ul id="menu-idioma">
          <i>Creado por Naiel V, EuskadiTech &reg; 2023</i>
        </ul>
      </div>

      <div id="contenedor">
        <div id="menu_bar">
          <dl>
            <dt class="menu_bar-info">INFORMACIÓN</dt>
            <dd><a href="/">Inicio</a></dd>
            <dd><a href="/menu_comedor">Menu Comedor</a></dd>
            <dt class="menu_bar-info">ENCARGOS</dt>
            <dd><a href="/encargos/nuevo">Nuevo Encargo</a></dd>
            <dd><a href="/encargos/ver">Ver Encargos</a></dd>
            <dd><a href="/encargos/hoy">Encargo(s) de hoy</a></dd>
          </dl>
        </div>

        {% block contenido %}{% endblock %}

        <div class="clear"></div>
      </div>

      <div class="clear"></div>
    </div>
  </body>
</html>
