<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sistema AxelAula </title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
        <!--
          Sistema AxelAula 1.0
          Creado el 2023,
          Diseño basado de IT Tzartelak 2.0
          Acceso al codigo:
            github.com/SistemaAxel/AxelAula
          Creado por Naiel V
            Director de EuskadiTech (R)
          Gracias a:
            Aula estable, Instituto Ballonti
              Por ser los primeros en usar AxelAula, y ayudar con las funciones.
        -->
    <div id="pagina">
      <div id="cabecera">
        <h1><img src="/static/logo.png" alt="Sistema AxelAula" /></h1>

        <ul id="menu-idioma">
          <i><a href="https://tech.eus">Creado por Naiel V, EuskadiTech &reg; 2023 (tech.eus)</a></i>
        </ul>
      </div>
    <!--
      Sistema AxelAula 1.0
      Creado el 2023,
      Diseño basado de IT Tzartelak 2.0
      Acceso al codigo:
        github.com/SistemaAxel/AxelAula
      Creado por Naiel V
        Director de EuskadiTech (R)
      Gracias a:
        Aula estable, Instituto Ballonti
          Por ser los primeros en usar AxelAula, y ayudar con las funciones.
    -->
      <div id="contenedor">
        <div id="menu_bar">
          <dl>
                <!--
                  Sistema AxelAula 1.0
                  Creado el 2023,
                  Diseño basado de IT Tzartelak 2.0
                  Acceso al codigo:
                    github.com/SistemaAxel/AxelAula
                  Creado por Naiel V
                    Director de EuskadiTech (R)
                  Gracias a:
                    Aula estable, Instituto Ballonti
                      Por ser los primeros en usar AxelAula, y ayudar con las funciones.
                -->
            <dt class="menu_bar-info">INFORMACIÓN</dt>
            <dd><a href="/?a={{a}}">Inicio</a></dd>
            <dd><a href="/resumen?a={{a}}">Resumen</a></dd>
            {% if data["Comedor"]["Encendido"] %}
            <dd><a href="/menu_comedor?a={{a}}">Menu Comedor</a></dd>
            <dd><a href="/responsables?a={{a}}">Responsables</a></dd>
            <dd><a href="/tareas?a={{a}}">Tareas</a></dd>
            {% endif %}
          </dl>
        </div>
    <!--
      Sistema AxelAula 1.0
      Creado el 2023,
      Diseño basado de IT Tzartelak 2.0
      Acceso al codigo:
        github.com/SistemaAxel/AxelAula
      Creado por Naiel V
        Director de EuskadiTech (R)
      Gracias a:
        Aula estable, Instituto Ballonti
          Por ser los primeros en usar AxelAula, y ayudar con las funciones.
    -->
    
        {% block contenido %}{% endblock %}
    <!--
      Sistema AxelAula 1.0
      Creado el 2023,
      Diseño basado de IT Tzartelak 2.0
      Acceso al codigo:
        github.com/SistemaAxel/AxelAula
      Creado por Naiel V
        Director de EuskadiTech (R)
      Gracias a:
        Aula estable, Instituto Ballonti
          Por ser los primeros en usar AxelAula, y ayudar con las funciones.
    -->
    
        <div class="clear"></div>
      </div>

      <div class="clear"></div>
    </div>
    <!--
      Sistema AxelAula 1.0
      Creado el 2023,
      Diseño basado de IT Tzartelak 2.0
      Acceso al codigo:
        github.com/SistemaAxel/AxelAula
      Creado por Naiel V
        Director de EuskadiTech (R)
      Gracias a:
        Aula estable, Instituto Ballonti
          Por ser los primeros en usar AxelAula, y ayudar con las funciones.
    -->
  </body>
</html>
